<div>
  <h2 id="page-heading" data-cy="BookingHeading">
    <span jhiTranslate="dugxApp.booking.home.title">Bookings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="dugxApp.booking.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking"
        [routerLink]="['/booking/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="dugxApp.booking.home.createLabel">Create a new Booking</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (bookings().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="dugxApp.booking.home.notFound">No Bookings found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="bookingDate">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.booking.bookingDate">Booking Date</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="totalAmount">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.booking.totalAmount">Total Amount</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.booking.status">Status</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.booking.user">User</span>
              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (booking of bookings(); track trackId(booking)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/booking', booking.id, 'view']">{{ booking.id }}</a></td>
          <td>{{ booking.bookingDate | formatMediumDatetime }}</td>
          <td>{{ booking.totalAmount }}</td>
          <td>{{ booking.status }}</td>
          <td>{{ booking.user?.login }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/booking', booking.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/booking', booking.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(booking)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (bookings().length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  </div>
  }
</div>
