<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-organizer-heading" data-cy="OrganizerCreateUpdateHeading" jhiTranslate="dugxApp.organizer.home.createOrEditLabel">
        Create or edit a Organizer
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        } @let companyNameRef = editForm.get('companyName')!;
        <div class="mb-3">
          <label class="form-label" for="field_companyName" jhiTranslate="dugxApp.organizer.companyName">Company Name</label>
          <input
            type="text"
            class="form-control"
            name="companyName"
            id="field_companyName"
            data-cy="companyName"
            formControlName="companyName"
          />
          @if (companyNameRef.invalid && (companyNameRef.dirty || companyNameRef.touched)) {
          <div>
            @if (companyNameRef.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            } @if (companyNameRef.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
              >This field cannot be longer than 100 characters.</small
            >
            }
          </div>
          }
        </div>

        @let taxCodeRef = editForm.get('taxCode')!;
        <div class="mb-3">
          <label class="form-label" for="field_taxCode" jhiTranslate="dugxApp.organizer.taxCode">Tax Code</label>
          <input type="text" class="form-control" name="taxCode" id="field_taxCode" data-cy="taxCode" formControlName="taxCode" />
          @if (taxCodeRef.invalid && (taxCodeRef.dirty || taxCodeRef.touched)) {
          <div>
            @if (taxCodeRef.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            } @if (taxCodeRef.errors?.maxlength) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
              >This field cannot be longer than 50 characters.</small
            >
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="dugxApp.organizer.description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_verified" jhiTranslate="dugxApp.organizer.verified">Verified</label>
          <input type="checkbox" class="form-check" name="verified" id="field_verified" data-cy="verified" formControlName="verified" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="dugxApp.organizer.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
            <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
