<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (coupon(); as couponRef) {
    <div>
      <h2 data-cy="couponDetailsHeading"><span jhiTranslate="dugxApp.coupon.detail.title">Coupon</span></h2>

      <hr />

      <jhi-alert-error />

      <jhi-alert />

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ couponRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.coupon.code">Mã ưu đãi</span></dt>
        <dd>
          <span>{{ couponRef.code }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.coupon.discount">Giảm giá</span></dt>
        <dd>
          <span>{{ couponRef.discount }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.coupon.startDate">Ngày bắt đầu</span></dt>
        <dd>
          <span>{{ couponRef.startDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.coupon.endDate">Ngày kết thúc</span></dt>
        <dd>
          <span>{{ couponRef.endDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.coupon.quantity">Số Lượng</span></dt>
        <dd>
          <span>{{ couponRef.quantity }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.coupon.event">Chuyến bay</span></dt>
        <dd>
          @if (coupon()!.event) {
          <div>
            <a [routerLink]="['/event', coupon()!.event?.id, 'view']">{{ couponRef.event?.title }}</a>
          </div>
          }
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
    }
  </div>
</div>
