<div>
  <h2 id="page-heading" data-cy="BookingDetailHeading">
    <span jhiTranslate="dugxApp.bookingDetail.home.title">Booking Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="dugxApp.bookingDetail.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-booking-detail"
        [routerLink]="['/booking-detail/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="dugxApp.bookingDetail.home.createLabel">Create a new Booking Detail</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (bookingDetails().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="dugxApp.bookingDetail.home.notFound">No Booking Details found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.bookingDetail.price">Price</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="booking.id">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.bookingDetail.booking">Booking</span>
              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.bookingDetail.showtimeSeat">Showtime Seat</span>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (bookingDetail of bookingDetails(); track trackId(bookingDetail)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/booking-detail', bookingDetail.id, 'view']">{{ bookingDetail.id }}</a></td>
          <td>{{ bookingDetail.price }}</td>
          <td>
            @if (bookingDetail.booking) {
            <div>
              <a [routerLink]="['/booking', bookingDetail.booking.id, 'view']">{{ bookingDetail.booking.id }}</a>
            </div>
            }
          </td>
          <td>
            @if (bookingDetail.showtimeSeat?.seat) {
            <span>{{ bookingDetail.showtimeSeat?.seat?.rowLabel }}{{ bookingDetail.showtimeSeat?.seat?.seatNumber }}</span>
            }
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/booking-detail', bookingDetail.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/booking-detail', bookingDetail.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(bookingDetail)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (bookingDetails().length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  </div>
  }
</div>
