<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-booking-heading" data-cy="BookingCreateUpdateHeading" jhiTranslate="dugxApp.booking.home.createOrEditLabel">
        Create or edit a Booking
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_bookingDate" jhiTranslate="dugxApp.booking.bookingDate">Booking Date</label>
          <div class="d-flex">
            <input
              id="field_bookingDate"
              data-cy="bookingDate"
              type="datetime-local"
              class="form-control"
              name="bookingDate"
              formControlName="bookingDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="dugxApp.booking.totalAmount">Total Amount</label>
          <input
            type="number" min="0"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (editForm.get('totalAmount')?.errors?.min) {
          <small class="form-text text-danger">Không được nhập số âm.</small>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="dugxApp.booking.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user" jhiTranslate="dugxApp.booking.user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
            <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
