<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-image-heading" data-cy="EventImageCreateUpdateHeading" jhiTranslate="dugxApp.eventImage.home.createOrEditLabel">
        Create or edit a Event Image
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        } @let imageUrlRef = editForm.get('imageUrl')!;
        <div class="mb-3">
          <label class="form-label" for="field_imageUrl" jhiTranslate="dugxApp.eventImage.imageUrl">Image Url</label>
          <input type="text" class="form-control" name="imageUrl" id="field_imageUrl" data-cy="imageUrl" formControlName="imageUrl" />
          @if (imageUrlRef.invalid && (imageUrlRef.dirty || imageUrlRef.touched)) {
          <div>
            @if (imageUrlRef.errors?.required) {
            <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_event" jhiTranslate="dugxApp.eventImage.event">Event</label>
          <select class="form-control" id="field_event" data-cy="event" name="event" formControlName="event" [compareWith]="compareEvent">
            <option [ngValue]="null"></option>
            @for (eventOption of eventsSharedCollection(); track $index) {
            <option [ngValue]="eventOption">{{ eventOption.title }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
