<div>
  <h2 id="page-heading" data-cy="CouponHeading">
    <span jhiTranslate="dugxApp.coupon.home.title">Coupons</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="dugxApp.coupon.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-coupon"
        [routerLink]="['/coupon/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="dugxApp.coupon.home.createLabel">Create a new Coupon</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (coupons().length === 0) {
  <div class="alert alert-warning" id="no-result">
    <span jhiTranslate="dugxApp.coupon.home.notFound">No Coupons found</span>
  </div>
  } @else {
  <div class="table-responsive table-entities" id="entities">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.coupon.code">Code</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="discount">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.coupon.discount">Discount</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.coupon.startDate">Start Date</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.coupon.endDate">End Date</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="quantity">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.coupon.quantity">Quantity</span>

              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col" jhiSortBy="event.title">
            <div class="d-flex">
              <span jhiTranslate="dugxApp.coupon.event">Event</span>
              <fa-icon class="p-1" icon="sort" />
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (coupon of coupons(); track trackId(coupon)) {
        <tr data-cy="entityTable">
          <td><a [routerLink]="['/coupon', coupon.id, 'view']">{{ coupon.id }}</a></td>
          <td>{{ coupon.code }}</td>
          <td>{{ coupon.discount }}</td>
          <td>{{ coupon.startDate | formatMediumDatetime }}</td>
          <td>{{ coupon.endDate | formatMediumDatetime }}</td>
          <td>{{ coupon.quantity }}</td>
          <td>
            @if (coupon.event) {
            <div>
              <a [routerLink]="['/event', coupon.event.id, 'view']">{{ coupon.event.title }}</a>
            </div>
            }
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/coupon', coupon.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/coupon', coupon.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(coupon)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times" />
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @if (coupons().length > 0) {
  <div>
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  </div>
  }
</div>
