<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-seat-heading" data-cy="SeatCreateUpdateHeading" jhiTranslate="dugxApp.seat.home.createOrEditLabel">
        Create or edit a Seat
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_rowLabel" jhiTranslate="dugxApp.seat.rowLabel">Row Label</label>
          <input type="text" class="form-control" name="rowLabel" id="field_rowLabel" data-cy="rowLabel" formControlName="rowLabel" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_seatNumber" jhiTranslate="dugxApp.seat.seatNumber">Seat Number</label>
          <input
            type="number" min="0"
            class="form-control"
            name="seatNumber"
            id="field_seatNumber"
            data-cy="seatNumber"
            formControlName="seatNumber"
          />
          @if (editForm.get('seatNumber')?.errors?.min) {
          <small class="form-text text-danger">Không được nhập số âm.</small>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_seatType" jhiTranslate="dugxApp.seat.seatType">Seat Type</label>
          <select class="form-control" name="seatType" id="field_seatType" data-cy="seatType" formControlName="seatType">
            @for (seatTypeOption of seatTypes; track seatTypeOption) {
            <option [value]="seatTypeOption">{{ seatTypeOption }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_aircraft" jhiTranslate="dugxApp.seat.aircraft">Aircraft</label>
          <select
            class="form-control"
            id="field_aircraft"
            data-cy="aircraft"
            name="aircraft"
            formControlName="aircraft"
            [compareWith]="compareAircraft"
          >
            <option [ngValue]="null"></option>
            @for (aircraftOption of aircraftsSharedCollection(); track $index) {
            <option [ngValue]="aircraftOption">{{ aircraftOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
