<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (checkIn(); as checkInRef) {
    <div>
      <h2 data-cy="checkInDetailsHeading"><span jhiTranslate="dugxApp.checkIn.detail.title">Check In</span></h2>

      <hr />

      <jhi-alert-error />

      <jhi-alert />

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ checkInRef.id }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.checkIn.checkInTime">Check In Time</span></dt>
        <dd>
          <span>{{ checkInRef.checkInTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="dugxApp.checkIn.ticket">Ticket</span></dt>
        <dd>
          @if (checkIn()!.ticket) {
          <div>
            <a [routerLink]="['/ticket', checkIn()!.ticket?.id, 'view']">{{ checkInRef.ticket?.id }}</a>
          </div>
          }
        </dd>
        <dt><span jhiTranslate="dugxApp.checkIn.checkedBy">Checked By</span></dt>
        <dd>
          <span>{{ checkInRef.checkedBy?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/check-in', checkInRef.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
    }
  </div>
</div>
