<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-check-in-heading" data-cy="CheckInCreateUpdateHeading" jhiTranslate="dugxApp.checkIn.home.createOrEditLabel">
        Create or edit a Check In
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {

        <div class="mb-3">
          <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_checkInTime" jhiTranslate="dugxApp.checkIn.checkInTime">Check In Time</label>
          <div class="d-flex">
            <input
              id="field_checkInTime"
              data-cy="checkInTime"
              type="datetime-local"
              class="form-control"
              name="checkInTime"
              formControlName="checkInTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ticket" jhiTranslate="dugxApp.checkIn.ticket">Ticket</label>
          <select
            class="form-control"
            id="field_ticket"
            data-cy="ticket"
            name="ticket"
            formControlName="ticket"
            [compareWith]="compareTicket"
          >
            <option [ngValue]="null"></option>
            @for (ticketOption of ticketsSharedCollection(); track $index) {
            <option [ngValue]="ticketOption">{{ ticketOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_checkedBy" jhiTranslate="dugxApp.checkIn.checkedBy">Checked By</label>
          <select
            class="form-control"
            id="field_checkedBy"
            data-cy="checkedBy"
            name="checkedBy"
            formControlName="checkedBy"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
            <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
